name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
    - name: Checkout Branch
      uses: actions/checkout@v1
    - name: Setup Node.js
      uses: actions/setup-node@v3
    - name: Build Extension
      run: |
        npm install
        npm run compile
    - name: Smoke test (Linux)
      run: xvfb-run -a npm run test
      if: runner.os == 'Linux'
    - name: Smoke test (Mac, Windows)
      run: npm run test
      if: runner.os != 'Linux'
    # - name: Upload coverage reports to Codecov
    #   uses: codecov/codecov-action@def81595a67c83cbb0a42ba9b624b97f4c7deb3d #v3.1.4
    #   with:
    #     token: ${{ secrets.CODECOV_TOKEN }}
    #     flags: unittests # optional
    #     fail_ci_if_error: true # optional (default = false)
    #     verbose: true # optional (default = false)
    - name: Package Extension
      if: matrix.os == 'ubuntu-latest'
      run: |
        npm install -g vsce
        vsce package
        mkdir vsix
        mv *.vsix vsix
    - name: Archive Extension
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@v1
      with:
        name: vsix
        path: vsix